<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./public/less/main.css">
		<!-- 引入angular -->
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
	<!-- 引入angular入口 -->
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/controller.js"></script>
	<script type="text/javascript" src="scripts/directives.js"></script>
	<script type="text/javascript" src="scripts/services.js"></script>
</head>
<body ng-app="timeApp">
	<div class="viewport">
		<!-- 侧边栏导航 -->
		<div ng-include="'./views/navs.html'" ng-controller="navCtrl"></div>

		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header:true,collapse:collapsed}">
				<a href="javascript:;" class="menu icon-menu" ng-click="toggle()"></a>
				<h2>{{title}}</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div ng-class="{body:true,collapse:collapsed}">
				<!-- loading.... -->
				<div loading ng-if="!loaded" class="loading" ng-src="./public/images/loading.gif"></div>
				<div ng-view></div>
			</div>
		</div>
	</div>
</body>
</html>
